* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 80%;
  border: red solid 1px;
  justify-content: center;
   padding: 0px 245px 20px 245px;

} 


header h2 {
  font-size: 24px;
  /* margin: 20px; */
  /* text-align: center; */
  padding: 60px 245px 20px 245px;

}

.job {
  background-color: #f0f0f0;
  /* padding: 20px; */
  border-radius: 8px;
  /* text-align: center; */
  font-size: 18px;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  padding-left: 5px;
}